.navbar {
    position: absolute;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: left baseline;
    background-color: #787878;
    padding: 12px 24px;
    color: white;
    outline-color: white;
    top: 0;
    left: 0;
}

.sections {
    position: relative;
    display: flex;
    margin: 0 20px;
    justify-content: space-between;
    align-items: left baseline;
}

.authSection {
    display: flex;
    margin: 0 20px;
    position: absolute;
    justify-content: right;
    right: 32px;
}

a {
    margin: 0 10px;
    font-size: 18px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}