.wrapper {
    width: 420px;
    background-color: #595959;
    color: #fff;
    border-radius: 30px;
    margin: 40% 0%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.form {    
    display: flex;
    flex-direction: column;
}

.content {
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #ffffff33;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.wrapper button {
    margin: 5px;
    padding: 10px 20px;
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #0000001a;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper button:hover {
    background-color: #cacaca;
}

.wrapper button:active {
    background-color: #3d3d3d;
}

.wrapper .error-line {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-line p {
    accent-color: #fff;
}

.error-line p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 4px;
    margin-top: 10px;
}

.error-line a:hover {
    text-decoration: underline;
}

.register-link {
    margin: 15px;
}

datalist {
    position: absolute;
    background-color: #ccc;
    border: 1px solid #5c5b5b;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 5px;
    max-height: 10rem;
    overflow-y: auto;    
}

option {
    background-color: #ccc;
    padding: 4px;
    color: #5c5b5b;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
}

select ::picker(select) {
    appearance: base-select;
}

select {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #333;
    border: none;
}

option {
    border-radius: 10px;
    border: none;
}